.input {
  background: var(--surfacePrimary);
  color: var(--textSecondary);
  border: 1px solid var(--borderPrimary);
  border-radius: 0.1em;
  padding: 0.5em 1em;
  transition: 0.2s ease all;
  margin: 0;
}

.input:hover,
.input:focus {
  border-color: var(--borderSecondary);
}

.input--block {
  margin-bottom: 0.5em;
  display: block;
  width: 100%;
}

.input--textarea {
  line-height: 1.15;
  font-family: monospace;
  min-height: 10em;
  resize: vertical;
}

.input--red {
  background: var(--input-red) !important;
}

.input--green {
  background: var(--input-green) !important;
}

.suffixed-input {
  display: flex;
}

.suffixed-input > .input:has(+ .suffix) {
  border-radius: .1em 0 0 .1em;
  border-right: 0;
}

.suffixed-input > .input + .suffix {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid transparent;
  border-radius: 0 .2em .2em 0;
  border-left: 0;
  padding: 0 0.5em;
  display: grid;
  align-items: center;
}

.suffixed-input > .input:hover + .suffix,
.suffixed-input > .input:focus + .suffix {
  border-color: rgba(0, 0, 0, 0.1);
}

.suffixed-input > .input--block + .suffix {
  margin-bottom: 0.5em;
}